<br><br>
<hr />
<br>
<div class="footer">
    <p>
        <a id="social" href="mailto:brandonrasaka@protonmail.com" target="_blank" rel="noopener noreferrer"><i class="fa fa-envelope"></i></a>
        <a id="social" href="https://www.linkedin.com/in/brandonrasaka/" target="_blank" rel="noopener noreferrer"><i class="fa fa-linkedin-square"></i></a>
        <a id="social" href="https://github.com/brandonrasaka/" target="_blank" rel="noopener noreferrer"><i class="fa fa-github"></i></a>
        <a id="social" href="https://www.youtube.com/c/BrandonRasaka" target="_blank" rel="noopener noreferrer"><i class="fa fa-youtube-play"></i></a>
    </p>

    <br>

    <p>&copy;{{ site.time | date: '%Y' }} {{ site.name }}, Powered by
            {% for thank in site.data.thanks %}
                <a href="{{ thank.url }}">
                {{ thank.title }}
                </a>
                <!-- not the last, output a ',' -->
                {% if forloop.last == false %}
                ,
                {% endif %}
            {% endfor %}
    </p>
</div>